**/PreloadAssetDB.txt
**/Preload.xml
**/.idea
**/.DS_STORE
VoidMulti5013.SC2Mod
Assets-Arachnid.SC2Mod
Assets-Tyranid.SC2Mod
Assets-WarCraft.SC2Mod
Assets-WarHammer.sc2mod
Assets-Warzone.sc2Mod
WarHammer.SC2Mod
Warzone.SC2Mod
WarCraft.SC2Mod